
body {background: black;}
canvas
 {display:block;
  position: relative;
  z-index: -99;
  }

body {
  background: var(--dark-color);
  
}

main #container {
  margin: auto;
  position: absolute;
  z-index: 100;
}

.panel-content a{
  color: rgb(67, 252, 110);
  display: inline-block;
  padding: 0.25rem;
}

.panel-content a:hover {
  border: 1px solid rgb(67, 252, 110) ;
  border-radius: 5px;
}

.panel-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.panel-info {
  display: grid;
  gap: 5rem;
  justify-items: center;
}

.panel-info .menu-opt{
  display: grid;
  justify-items: center;
  gap: 0.25rem;
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}
.panel-content a span{
  animation: blinker 0.5s linear infinite;
}

.social ul {
  display: flex;
  gap: 1rem;
  font-size: 1.25rem;
}

h1 {
  font-size: 2.5rem;
}
