.button_rd{
    color: var(--text-light-color);
    text-decoration: none;
    border-radius: 5px;
}

.button_rd:hover {
  color: var(--social-hover-color);
  transition: all 0.5s ease-out;
}

.button_rd.button_back{
  position: absolute;
  margin-left: 2.25rem;
}

.back-to-top {
  background: var(--social-hover-color);
  color: var(--background-color);

  position: fixed;
  right: 4rem;
  bottom: 4rem;

  padding: 0.4rem;
  clip-path: square();
  border-radius: 0.5rem;
  
  font-size: 2rem;
  line-height: 0;

  visibility: hidden;
  opacity: 0;

  transition: 0.2s;
  transform: translateY(100%);
}
.back-to-top.show {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
  transform: rotate(90deg);
}